<div class="wrapper">
  <!-- Sidebar -->
  <div class="sidebar" data-color="purple" data-background-color="white">
    <div class="logo">
      <a href="#" class="simple-text logo-normal">
        XcellIA
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-profile" routerLinkActive="active">
            <i class="material-icons">person</i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions" routerLinkActive="active">
            <i class="material-icons">list</i>
            <p>Transactions</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transaction-detail" routerLinkActive="active">
            <i class="material-icons">details</i>
            <p>Transaction Detail</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/icons" routerLinkActive="active">
            <i class="material-icons">bubble_chart</i>
            <p>Icons</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notifications" routerLinkActive="active">
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
      <div class="container-fluid">
        
        <!-- Removed toggle button -->
      </div>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>